/* shinyExtra.css */

.panel-heading span {
  /* vertically align contents of panel heading by placing in table cell */
  display: table-cell;
  vertical-align: middle;
}

.textarea-noresize {
  resize: none;
  overflow: auto;
}

.sort_label {
  position: relative;
  display: block;
}
