/* shinyExtra.css */

.panel-heading span {
  /* vertically align contents of panel heading by placing in table cell */
  display: table-cell;
  vertical-align: middle;
}

.textarea-noresize {
  resize: none;
  overflow: auto;
}

.sort_label {
  position: relative;
  display: block;
  padding: 1px 2px 1px 1px;
  cursor: pointer;
}

.sortGroup {
  border: 2px solid green ;
  margin: 1px 4px 1px 4px;
  overflow: auto;
}

.overflowText {
  width: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overflowText:hover {
  overflow: visible;
  position: relative;
}

.overflowText:hover span {
  color: white;
  background-color: black;
  padding: 1px 5px 1px 5px;
  border-radius: 4px;
  overflow: visible;
  display: inline-block;
}

